In [ ]:
# import keyword

In [ ]:
import =keyword
print(keyword, type(kwlist))

SyntaxError: invalid syntax (2816423603.py, line 1)

In [ ]:
# class='1st'

In [4]:
print('Class')

Class

In [ ]:
# Input Function in Python
# username full name
# collage
# course join in sevenmentor

Name = print("Enter your full name")
Collage Name = print("Enter your Collage Name")
Class = print("Enter your Class Name")

Enter the name = Arya Gadhe
Collage Name = RLT Collage of Science
Class = Seven Mentor Institute

In [13]:
# Data Types 
# Numerical Data Type
# int= integer -number
# type : to find the data type of variable
age=34
print(age, type(age))
number=-56.743
print(number, type(number))
number=-56j
print(number, type(number))


# complex data type is used in bulky application
# combination of one is real and img number
# imaginary number is present by j
data=False
print(data)
print(type(data))

34 <class 'int'>
-56.743 <class 'float'>
(-0-56j) <class 'complex'>
False
<class 'bool'>

# String Data Type 
the string is collection of character, path, website link store, name, address,
string written into "", ''-single line string
""" ","" -multiple string
name="arya"
print(name,type(name))

In [ ]:
# None Data type : None data type is placeholder for the variable.

In [26]:
# Range function Data Type: Range is used to print the value into the some specific range
# range (start, end, jump)
# start : default is 0 include
# end : must to end value always exclude by -1
# jump : default value is 1 and jump the number 

v=range(1,10)
print(type(v))

for i in range(0,10,2):
    print(i)

<class 'range'>
0
2
4
6
8

In [29]:
# List Data Type: List is used to store multiple values at one time and writing[]
# mutable, hetro, homogeneous
student_details=['arya','raj', 'om']
print(student_details, type(student_details))

['arya', 'raj', 'om'] <class 'list'>