In [ ]:
# For Loop : Is the definite loop and is based on iterable (list, string, tuple, dictionary, set, range)

In [7]:
for num in range(10):
    print('hello word')

hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word
hello word

In [6]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
for i in range(0,10,10):
    print(i)

0

In [8]:
#print the number between 2 to 21
for num in range (2,21,2):
    print(num)

2
4
6
8
10
12
14
16
18
20

In [9]:
#between 1 to 50 only print those with divided by 5 
for i in range(1,51):
    if i%5==0:
        print(i)

5
10
15
20
25
30
35
40
45
50

In [11]:
for i in range(1,51):
    if i%3==0:
        print(i)
    else:
        print('not divided')

not divided
not divided
3
not divided
not divided
6
not divided
not divided
9
not divided
not divided
12
not divided
not divided
15
not divided
not divided
18
not divided
not divided
21
not divided
not divided
24
not divided
not divided
27
not divided
not divided
30
not divided
not divided
33
not divided
not divided
36
not divided
not divided
39
not divided
not divided
42
not divided
not divided
45
not divided
not divided
48
not divided
not divided

In [13]:
subject='python hi'
count=0
for i in subject:
    count=count+1
    print(count)

1
2
3
4
5
6
7
8
9

In [14]:
count=0
for i in range(1,11):
    count=count+i
    print('the total sum is:',count)

the total sum is: 1
the total sum is: 3
the total sum is: 6
the total sum is: 10
the total sum is: 15
the total sum is: 21
the total sum is: 28
the total sum is: 36
the total sum is: 45
the total sum is: 55

In [15]:
data='python and programming'
for i in data:
    print(i)

p
y
t
h
o
n

a
n
d

p
r
o
g
r
a
m
m
i
n
g

In [20]:
data='python and programming'
for i in data:
    if i=='a' or i=='p':
        print(i)

p
a
p
a

In [21]:
marks=[56,76,56,34,22,87,99]
print(type(marks))
for j in marks:
    print(j+5)

<class 'list'>
61
81
61
39
27
92
104

In [22]:
subject=['python','java','css','html','django']  #list
for sub in subject:
    print(sub)

python
java
css
html
django

In [23]:
subject=('python','java','css','html','django') #tuple
for sub in subject:
    print(sub)

python
java
css
html
django

In [ ]:
subject={'python','java','css','html','django'} #set 
for sub in subject:
    print(sub)

In [24]:
d={'stu1':'kia','stu2':'rahul','stu3':'komal'}
for key in d:
    print(key)

stu1
stu2
stu3

In [25]:
n=int(input('Enter the number of product'))
count=0
for i in range(n):
    amount=int(input('enter the amount'))
    count+=amount
    print('total sum is',count)

Enter the number of product: 32
the price of the product is: 230

230.0

the price of the product is: 25

255.0

the price of the product is: 21

276.0

the price of the product is: 76

352.0

the price of the product is: 23

375.0

the price of the product is: 65

440.0

the price of the product is: 46

486.0

the price of the product is: 32

518.0

the price of the product is: 23

541.0

the price of the product is: 45

586.0

the price of the product is: 98

684.0

the price of the product is: 09

693.0

the price of the product is: 211

904.0

the price of the product is: 54

958.0

the price of the product is: r

ValueError: could not convert string to float: 'r'

In [27]:
# Transfer Statement : break, continue, pass
#break :break statement is userred to break the loop before the loop execute normally
for i in range(1,10):
    print(i)
    if i==5:
        break

1
2
3
4
5