In [ ]:
# Relationship Operators

In [1]:
print(10==20)

False

In [3]:
num=int(input('enter the number'))
print(num==10)

enter the number 10

True

print(ord('a'),ord('z')) 
print(ord('A'),ord('Z'))

In [4]:
print(23<300)
print(23<-300)

True
False

In [ ]:
# Assignment Operators: To use the increment and decrement values

In [6]:
sub='python'
sub+='hello'
print(sub)

pythonhello

In [10]:
num=2
num*=2
print(num)
num**=2
print(num)
num-=10
print(num)

4
16
6

In [ ]:
# Membership Operators: 
in : in checkreturn if the item present into the database if yes True else will get False
not in : in Check if the item noto present into the dataset if yes return True else will get False

In [13]:
dataset='hello user'
print('he' in dataset)
print(' ' in dataset)
print('ho' in dataset)
print('hello' in dataset)
print('HELLO' in dataset)

True
True
False
True
False

In [14]:
D='USER@123'
print('123' in D)

True

In [15]:
dataset='hello user'
print('he' not in dataset)
print(' ' not in dataset)
print('ho' not in dataset)
print('hello' not  in dataset)
print('HELLO' not in dataset)

False
False
True
False
True

In [16]:
d=['python','java','css','html','javascript','56']
print('python' in d)
print(' python ' in d)
print(56 in d)

True
False
False

In [ ]:
# Identity Operators 
is : The is operators is not check the value it will check the object of the data if the object is same return the true otherwise false
not is : the is not operator is wise varsa of is and if the operators have diff object return true otherwise return false

In [20]:
s=2
s3=20
print(s is s3)

print(type(35) is int)
print('python' is 'python')

v= 56666
v2=56666
print(v is v2)

False
True
True
False

In [ ]:
# Logical Operators
and : compare more than one condition if all the condition is true otherwise return false
or : if one of the condition is true return the true otherwise return the false 
not : the not operator is unery operator where if condition is true return false if condition is false return