In [6]:
# Tuple Data Type : 
data_of_birth=('15/12/2003','12/09/2004')
print('date_of_birth',type('date_of_birth'))

date_of_birth <class 'str'>

In [8]:
# Mutable Data Type
emp_details={
    'name':'rahul',
    'id':'1001',
    'location':'pune'
}
print(emp_details, type(emp_details))

{'name': 'rahul', 'id': '1001', 'location': 'pune'} <class 'dict'>

In [10]:
# Set Data Structure
emp_ids={5678,6789,5467,3456}
print(emp_ids, type(emp_ids))

{3456, 5467, 6789, 5678} <class 'set'>

# Bytes Data Type: To store the Data type
data=bytes(b'python')
print(data)

data=bytes(345)
print(data)

data=bytearray([34,55,87])
print(data,type(data))

data=bytes(700)
print(data,type(data))
print(memoryview(data))

# Data Casting: To cast the data from one to another data type
# Python does not support operation on different data type for the same reason we 
n=input('enter the number')
print(type(n),n)

data='89'
print(12+int(data))

data=43.56
print(int(data))

In [7]:
# Float Data Type:
data='54'
print(float(data))

sub='56'
print(type(sub))
sub = float(sub)
print(type(sub))
print(sub)

54.0
<class 'str'>
<class 'float'>
56.0

In [21]:
# Bool Data Structure
v=-6
print(bool(v))

v=0
print(bool(v))

st=""
print(bool(st))

st='hello'
print(bool(st))

True
False
False
True

In [27]:
# Sequence Data type: 
# List - other type convert into list
# Tuple -
# Set

student1=['arya','rahul']
student2=()

data=[56,33,23,65,23]

data='56,33,23,65,23'
print=("convert into string")

data='56,33,23,65,23'
print=("convert into set")

# Mathematical Operators (arthmatic)
+ addition 
- substraction
* multiplication
** explonsention
/ division
// floor division
% moduler

print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1**num2)
print(num1/num2)
print(num1//num2)
print(num1%num2)