emp_details={
    'name':'rohan',
    'id':'1002',
    'location':'pune'
}
print(emp_details, type(emp_details))

In [1]:
emp_ids={4356,4224,7684,8905}
print(emp_ids,type(emp_ids))

{4224, 8905, 4356, 7684} <class 'set'>

In [2]:
sub='45'
print(type(sub))
sub=(float(sub))
print(type(sub))
print(sub)

<class 'str'>
<class 'float'>
45.0

In [3]:
dataset='hello user'
print('he' in dataset)
print(' ' in dataset)
print('ho' in dataset)
print('hello' in dataset)
print('HELLO' in dataset)

True
True
False
True
False

In [4]:
D='USER@123'
print('123' in D)

True

In [5]:
dataset='hello user'
print('he' not in dataset)
print(' ' not in dataset)
print('ho' not in dataset)
print('hello' not in dataset)
print('HELLO' not in dataset)

False
False
True
False
True

In [6]:
d=['python','java','css','javascript','32']
print('python' in d)
print('python' in d)
print(56 in d)

True
True
False

In [8]:
stu=('python','java','css','django')
print('python' in stu and 10==10 and 10>30)
print(True or True)

False
True

In [ ]:
num1=int(input('10'))
num2=int(input('2'))
print(num1>100 or num2==2)